.elementor-element {
  .elementor-button-warning .elementor-button {
    background-color: #f0ad4e; 
  }
  .elementor-button-danger .elementor-button {
    background-color: #d9534f; 
  }
}


.elementor-widget-button {
  .elementor-button {
    .elementor-button-info {
      background-color: #5bc0de; 
    }
    .elementor-button-success {
      background-color: #5cb85c; 
    }
    .elementor-button-warning {
      background-color: #f0ad4e; 
    }
    .elementor-button-danger {
      background-color: #d9534f; 
    }
  }
}

.elementor-button {
  padding: 8px 24px;
  border-radius: 3px;
}

.elementor-button-text {
  font-size: 14px;
}

.elementor-button-wrapper {
  margin-bottom: 30px;
  a {
    color: #2baae1;
  }
}