.embla {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
  &.embla__container-3 {
    & > div {
      min-width: 33.333%
    }
  }

  &.embla__container-2 {
    & > div {
      min-width: 50%
    }
  }

  &.embla__container-1 {
    & > div {
      min-width: 100%
    }
  }
}

.embla__slide {
  position: relative;
  min-width: 33.3333%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 190px;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #1bcacd;
  opacity: 1;
}

.elementor-carousel-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide {
  height: 400px;
  position: relative;
  .swiper-slide-bg {
    background-color: #833CA3;
    height: inherit;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
  }
  .swiper-slide-inner {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    .swiper-slide-contents {
      padding: 50px;
      height: 100%;
      color: white;
      max-width: 66%;
      @apply flex items-center justify-center flex-col mx-auto;
      .elementor-slide-heading {
        @apply text-h2 font-bold mb-30px text-white;
      }
      .elementor-slide-description {
        @apply text-center mb-30px;
      }
      .elementor-button {
        @apply border-2 border-white;
      }
    }
  }
}