@import "./font";
@import "./cta";
@import "./button";
@import "./headline";

@tailwind base;

@layer base {
  * {
    @apply font-montserrat;
  }
  h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
    @apply font-bold text-dark-blue;
  }

  .article-content {
    @apply lg:grid lg:gap-x-32px;
    grid-template-columns: minmax(747px, 1fr) 1fr;
    @media screen and (max-width: 1140px) {
      grid-template-columns: minmax(640px, 1fr) 1fr;
    }
  }
  .line-clamp-3, .line-clamp-4 {
    p {
      display: inherit;
      -webkit-box-orient: inherit;
      overflow: inherit;
      white-space: inherit;
      -webkit-line-clamp: inherit;
    }
  }
  
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.has-text-align-left {
  @apply text-left;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

.has-large-font-size {
  @apply text-large;
}

.alignfull {
  @apply w-screen relative;

  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
}

.wp-block-image img {
  @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
  @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
  @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
  @apply table-caption;

  caption-side: bottom;
}

.wp-block-image .alignleft {
  @apply float-left mr-4;
}
.wp-block-image .alignright {
  @apply float-right ml-4;
}
.wp-block-image .aligncenter {
  @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
  @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
  @apply mr-4;
}

.wp-block-cover {
  @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

  min-height: 430px;
}

.wp-block-verse {
  @apply font-sans;
}

.wp-block-media-text {
  @apply grid grid-cols-2 gap-4;
}

.elementor-toggle {
  text-align: left; }
  .elementor-toggle .elementor-tab-title {
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #D4D4D4;
    cursor: pointer;
    outline: none; }
    .elementor-toggle .elementor-tab-title .elementor-toggle-icon {
      display: inline-block;
      width: 1em; }
      .elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-right {
        float: right;
        text-align: right; }
      .elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {
        float: left;
        text-align: left; }
      .elementor-toggle .elementor-tab-title .elementor-toggle-icon .elementor-toggle-icon-closed {
        display: block; }
      .elementor-toggle .elementor-tab-title .elementor-toggle-icon .elementor-toggle-icon-opened {
        display: none; }
    .elementor-toggle .elementor-tab-title.elementor-active {
      border-bottom: none; }
      .elementor-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon-closed {
        display: none; }
      .elementor-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon-opened {
        display: block; }
  .elementor-toggle .elementor-tab-content {
    padding: 15px;
    border-bottom: 1px solid #D4D4D4;
    display: none; }

@media (max-width: 767px) {
  .elementor-toggle .elementor-tab-title {
    padding: 12px; }
  .elementor-toggle .elementor-tab-content {
    padding: 12px 10px; } }