.mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 275px;
  .backdrop {
    @apply fixed bg-black;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    right: 0;
    opacity: .3;
  }
  .wrapper {
    @apply relative bg-light-blue flex;
    width: inherit;
    height: 100vh;
    z-index: 1000;
    overflow-x: hidden;
    .container {
      padding: 25px;
      flex: 0 0 275px;
      @apply flex;
      & > div {
        transition: all .25s;
        flex: 0 0 100%
      }
      svg {
        width: 13px;
        height: 13px;
        path {
          fill: #fff;
        }
      }
    }
    .logo {
      @apply flex justify-center border-greyish-blue;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom-width: 0.5px;
    }
    .menu {
      @apply border-greyish-blue;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom-width: 0.5px;
      .menuList {
        @apply flex items-center justify-between;
        &:not(:last-child) {
          @apply mb-20px;
        }
        p {
          @apply text-small font-semibold;
        }
      }
    }
    .subMenu {
      @apply text-small font-semibold;
      .subtitle {
        @apply flex gap-x-4 border-greyish-blue;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom-width: 0.5px;
      }
    }
    .subMenuLink {
      @apply text-small font-semibold block;
      &:not(:last-child) {
        @apply mb-20px;
      }
    }
  }
  .close {
    @apply bg-white absolute;
    z-index: 2123413;
    right: -35px;
    top: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      border-top: 2px solid #000;
      width: 15px;
      transform: rotate(45deg);
      top: 9px;
      left: 2.5px;
    }
    &::after {
      content: "";
      position: absolute;
      border-top: 2px solid #000;
      width: 15px;
      transform: rotate(135deg);
      top: 9px;
      left: 2.5px;
    }
  }
}