.content {
  @apply text-normal leading-relaxed;
  p, ul, ol, blockquote, h2 {
    @apply my-32px text-dark-grey;
  }

  ul, ol {
    @apply pl-4;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }

  ul > li > ul, ol > li > ol {
    @apply my-0 ml-4;
  }
  ul > li > ul {
    list-style: circle;
  }

  h2, h3 , h4 {
    * {
      @apply text-large text-dark-blue font-semibold leading-snug;
    }
  }

  h2 {
    @apply text-large;
  }

  h3 {
    @apply text-medium;
  }

  p a {
    @apply text-tosca-blue;
  }

  .elementorcta {
    transition: .5s;
    & > div {
      width: auto;
      min-width: 50%;
    }
  }

  .elementorctaright {
    .elementorcta {
      @apply flex-row-reverse; 
    }
  }

  .elementorctaleft {
    .elementorcta {
      @apply flex-row; 
    }
  }

  .elementorctaright, .elementorctaleft {
    .elementorcta {
      @apply flex relative;
      transition: .5s;
    }
  }
  
}

.content pre {
  @apply whitespace-pre overflow-x-auto p-4 text-small leading-tight border border-gray-400 bg-gray-100;
}

.content code {
  @apply text-small;
}

.content figcaption {
  @apply text-center text-small;
}

.content blockquote {
  @apply border-l-4 border-gray-500 bg-gray-200 italic ml-0 py-4 px-6;
}

.content blockquote p {
  @apply mt-0;
}

.content blockquote cite {
  @apply not-italic;
}

.content audio {
  @apply w-full;
}